$text: #011210;
$text_ligth: rgba(1, 19, 17,0.8);
$background: #f3fffd;
$primary: #d97706;
$secondary: #838cfb;
$secondary_light: rgba(130, 138, 250,0.3);
$accent: #011210;
// $accent: #303030;
// $accent: #7e3ef9;
$treeth:#f9fafb;
// $treeth:#EBEBEb;
// $treeth:#f5f5f5;
$white:#fff;
$gray :#ccc;
$yellow :yellow;
$red :red;
$shadow:0px 0px 2px #ccc;
$gray_thin:#4a4a4a;
// rgb(198, 196, 196)
